body {
	color:white;
	background-color:black;
	user-select:none;
}

#splash-page {
	text-align:center;
	background-image:url('res/drawable/background.png');
	background-size:100% 100%;
}

#scores-page {
	text-align:center;
	background-image:url('res/drawable/background.png');
	background-size:100% 100%;
}

#game-page {
	text-align:center;
	background-size:100% 100%;
	background:black;
	overflow:hidden;
}

#game-canvas {
	position:absolute;
}

[data-role="page"] {
	display:none;
}

#splash-level {
	font-size : 48pt;
}

button, label {
	background-color : white;
	color : black;
	padding : 10px;
	border-radius : 10px;
	font-size : 14pt;
	font-weight : 600;
	cursor : pointer;
}
